* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #fff;
}

.container {
  position: relative;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-size: 32px;
  margin-bottom: 16px;
}
.logo {
  height: 40px;
  width: 40px;
}
.basket {
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket__count {
  position: absolute;
  top: -8px;
  right: -14px;
  background: #000;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 12px;
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-card {
  padding: 16px;
  margin: 0 8px 16px 8px;
  list-style-type: none;
  border: 2px solid blue;
  border-radius: 12px;
  width: calc(25% - 16px);
  box-sizing: border-box;
  button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: blue;
    color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 8px;
  }
}
.product-card__name {
  text-align: center;
  padding-bottom: 16px;
}
.product-card__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.product-card__description {
  margin: 8px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.modal-details {
  position: fixed;
  background: #000000b0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-details__container {
  position: relative;
  background: #fff;
  padding: 12px;
  border: 2px solid #000;
  border-radius: 12px;
}
.modal-details__name {
  margin-bottom: 12px;
}
.modal-details__details {
  margin-bottom: 16px;
}
.modal-details__button {
  background: red;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.modal-details__close {
  width: 16px;
  height: 16px;
  border: 1px solid red;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  &:before {
    content: "";
    width: 1px;
    height: 8px;
    background: red;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
  }
  &:after {
    content: "";
    width: 1px;
    height: 8px;
    background: red;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotateZ(-45deg);
  }
}
.modal-details__remains {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-weight: 700;
  }
}
.modal-none {
  display: none;
}
.disable {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 767px) {
  .product-card {
    width: calc(50% - 16px);
  }
}

@media (max-width: 426px) {
  .product-card {
    width: calc(100% - 16px);
  }
}
